@value makerGreen, makerBlack, makerWhite from '../../common/colors.css';

.header {
    width: 100%;
    background-color: makerGreen;
    color: makerWhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: relative;
}

.logo {
    width: 50px;
}

.logout_button {
    cursor: pointer;
    position: absolute;
    right: 10px;
    background-color: makerWhite;
    border: none;
    color: makerBlack;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 10px;
}