@value makerGrey from './common/colors.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button:focus {
    outline: none;
}

ul {
    list-style-type: none;
}

.app {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: makerGrey;
    height: 100vh;
}